html {
  background: #333333 url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%
}

body {
  margin: 0;
  font-family: "PT Serif", serif;
  color: white;
  font-size: 6vmin;
  border: 0px solid orange;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 0px solid blue;
  padding: 0;
}
.container.last{
  height: 250vmin;
}
/* Larger than portrait phone */
@media (min-width: 500px) {
  .container.last{
    height: 200vmin;
  }
}
@media (min-width: 500px) and (orientation: landscape) {
  .container.last{
    height: 195vmin;
  }
}
/* Larger than tablet */
@media (min-width: 800px) {
  .container.last{
    height: 140vmin;
  }
}

.hi {
  position: absolute;
  left: 22vmin;
  top: 22vmin;
}

.julia {
  position: absolute;
  left: 43vmin;
  top: 22vmin;
  border: 0px solid yellow;
  z-index: 2;
}
.julia.last {
  position: relative;
  left: 40px;
  top: 10vmin;
}
/* Larger than phone portrait */
@media (min-width: 500px) {
  .julia {
    width: 400px;
    border: 0px solid blue;
  }
 .julia.last {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    left: -13px;
  }
}
/* Larger than tablet */
@media (min-width: 800px) {
 .julia.last {
    left: -90px;
    top: 12vmin;
  }
}

.ogris {
  opacity: 0;
  margin-left: 0.3rem;
  display: inline-block;
}
.ogris.last {
  opacity: 1;
}

.red {
  position: absolute;
  width: 15vmin;
  height: 8vmin;
  top: 22vmin;
  left: 41.5vmin;
  opacity: 0.6;
  background-color: rgba(208, 27, 70, 1);
  border-radius: 1.5vmin;
  box-shadow: .2vmin .7vmin .1vmin 0 rgba(50, 0, 6, 1);
  z-index: 1;
}
.red.last {
  position: relative;
  top: -19px;
  left: 15px;
  width: calc(100vw - 30px);
  opacity: 0.8;
  height: 200vmin;
  border: 0px solid yellow;

}
/* Larger than phone portrait */
@media (min-width: 500px) {
  .red.last {
    width: 100%;
    max-width: 470px;
    left: 0;
    height: 190vmin;
    margin: 0 auto;
    border: 0px solid blue;
  }
}
@media (min-width: 500px) and (orientation: landscape) {
  .red.last {
    height: 185vmin;
    border: 0px solid orange;
  }
}
/* Larger than tablet */
@media (min-width: 800px) {
  .red.last {
    max-width: 670px;
    height: 130vmin;
    border: 0px solid red;
  }
}

.fullstop {
  position: absolute;
  left: 57vmin;
  top: 22vmin;
}

.pith {
  position: absolute;
  top: 30vmin;
  left: 22vmin;
  margin-right: 22vmin;
  max-width: 80vmin;
}
.hi.last,
.fullstop.last,
.pith.last {
  opacity: 0;
}

.pith p {
  margin-bottom: 7vmin;
}

.close {
  opacity: 0.0;
  position: relative;
  margin: 0 auto;
  top: -239vmin;
  left: 300px;
  z-index: 3;
  border: 0px solid green;
  font-size: 4vmin;
  width: 4vmin;
}
.close.last {
  opacity: 1.0;
}
/* Larger than phone portrait */
@media (min-width: 500px) {
  .close {
  }
}
/* Larger than tablet */
@media (min-width: 800px) {
  .close {
  }
}

.details {
  opacity: 0;
  position: relative;
  bottom: -120vh;
  width: calc(100vw - 80px);
  border: 0px solid green;
  overflow: hidden;
  font-size: 4vmin;
  z-index: 5;
  margin: 0 auto;
}
.details.last {
  opacity: 1;
  top: -187vmin;
}
/* Larger than phone portrait */
@media (min-width: 500px) {
  .details {
    font-size: 3.5vmin;
    position: relative;
    bottom: -120vh;
    max-width: 430px;
    width: 100%;
    left: 0;
  }
  .details.last {
    top: -180vmin;
  }
}
@media (min-width: 500px) and (orientation: landscape) {
  .details.last {
    top: -173vmin;
  }
}
/* Larger than tablet */
@media (min-width: 800px) {
  .details {
    font-size: 3.5vmin;
    position: relative;
    bottom: -120vh;
    max-width: 580px;
  }
  .details.last {
    top: -117vmin;
  }
}

a {
  background-color: rgba(117, 15, 39, 0.75);
  color: white;
  text-decoration: none;
  border-radius: 1.5vmin;
  border: 1px solid white;
  padding: 1.8vmin;
  padding-left: 2.8vmin;
  padding-right: 2.8vmin;
  font-size: 3.5vmin;
  font-family: Arial, sans-serif;
}
/* Larger than tablet */
@media (min-width: 800px) {
  a {
    color: #2196F3;
    text-decoration: none;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: .5rem;
    margin-right: 0;
    font-size: 3.5vmin;
    font-family:   "PT Serif", serif;
  }
  a:hover {
    color: #90CAF9;
  }
}
a:active, a:hover {
  outline: 0;
}

span.btn {
  margin-top: 2.5vmin;
  margin-bottom: 6vmin;
  display: block;
}

/* Larger than tablet */
@media (min-width: 800px) {
  span.btn {
    margin: 0;
    display: inline-block;
  }
}
