html {
  background: #333333 url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%
}

body {
  margin: 0;
  font-family: "PT Serif", serif;
  color: white;
  font-size: 6vmin;
  border: 0px solid orange;
}

.container{
  margin: 20px;
  border: 0px solid blue;
}

.hi {
  position: absolute;
  left: 22vmin;
  top: 22vmin;
}
.hi.last {
  top: 101vh;
}


.julia {
  position: absolute;
  left: 43vmin;
  top: 22vmin;
  border: 0px solid yellow;
  z-index: 2;

}
.julia.last {
  position: relative;
  max-width: 30vmin;
  top: 0;
  left: 10px;
  top: 50px;
}

.ogris {
  opacity: 0;
  margin-left: 0.3rem;
  display: inline-block;
}
.ogris.last {
  opacity: 1;
}

/* For devices larger than 800px */
@media (min-width: 800px) {
  .julia {
    width: 400px;
    border: 0px solid blue;
  }
 .julia.last {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    top: 40px;
    left: -120px;
}

}
.red
 {
  position: absolute;
  width: 15vmin;
  height: 8vmin;
  top: 22vmin;
  left: 41.5vmin;
  opacity: 0.6;
  background-color: rgba(208, 27, 70, 1);
  border-radius: 1.5vmin;
  box-shadow: .2vmin .7vmin .1vmin 0 rgba(50, 0, 6, 1);
  z-index: 1;
}
.red.last {
  position: relative;
  width: 100%;
  max-width: 750px;
  left: 0;
  top: -28px;
  margin: 0 auto;
  height: 200vh;
  opacity: 0.8;
}

.fullstop {
  position: absolute;
  left: 57vmin;
  top: 22vmin;
}
.fullstop.last {
  top: 101vh;
}

.pith {
  position: absolute;
  top: 30vmin;
  left: 22vmin;
  margin-right: 22vmin;
  max-width: 80vmin;
}
.pith.last {
  opacity: 0;
}

.hi.last,
.fullstop.last,
.pith.last {
  opacity: 0;
}

.pith p {
  margin-bottom: 7vmin;
}

.details {
  display: none;
}